header {
    margin-top: 0;
    background-color: #345861;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Faz o header ocupar toda a largura */
    z-index: 1; /* Garante que o header esteja acima de outros elementos, se necessário */
    margin-bottom: 20px;
}

header{ position: fixed; top:0; left: 0; }

.logo{
    padding-left: 1.25rem; /*20px*/
    width: 7.5rem; /*120px*/
    margin-left: 12.5rem; /*200px*/
}

.mheader {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logoH1 {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    color: #bed6e9;
    text-shadow: 0.1em 0.1em 0.2em #966481;
}

.menu {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.875rem;/*14px*/
}

.menu nav {
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.navi:last-child{
    margin-right: 200px;
}


.menu a {
    text-decoration: none;
    color: #f1b5d8;
    font-weight: normal;
    font-size: 1.5em;
    padding: 0 50px;
    transition: color 0.3s;
}

.aaa:hover {
    color: #e271b3;
    background-color: #12334e;
    transition-delay: 50ms;
}

@media (max-width: 1000px) {
    .header {
        width:100%;
        margin: 0;
        padding: 0;
    }
    .logo{
        padding-left: 1.25rem; /*20px*/
        width: 5rem; /*120px*/
        margin-left: 5rem; /*200px*/
    }
}

@media (max-width: 500px) {
    .header {
        width:100%;
        margin: 0;
        padding: 0;
        position: relative;
    }
    .logo{
        padding: 0; /*20px*/
        width: 6rem; /*120px*/
        margin: 0; /*200px*/
    }
    .mheader{
        flex-direction: column;
        padding: 0;
        margin: 0;
    }
    .navi {
        flex-direction: column;
        padding: 10px;
    }
    .aaa{
        margin: 3px;
        line-height: 2;
        background-color: #28515c;
        border-radius: 15px;
    }

    h3 {
        display: none;
    }
}